* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e9e5dc; }

.container {
  margin: 0 auto;
  width: 100%; }
  .container header .slim_head {
    background: #2e2e2e; }
    .container header .slim_head .looser {
      height: 35px;
      max-width: 1100px;
      margin: 0 auto;
      color: #a0a09e;
      font-size: .8em;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container header .slim_head .looser p > .language {
        color: #ebc854; }
  .container header .top_head {
    background: #454545;
    border-bottom: 1px dashed #FFF; }
    .container header .top_head .looser {
      height: 145px;
      max-width: 1100px;
      margin: 0 auto;
      position: relative;
      color: #fbfbfb;
      font-size: .8em;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .container header .top_head .looser .logo {
        margin-left: 1em;
        padding: 1em .5em;
        border: 1px dashed #727272; }
      .container header .top_head .looser .navigation {
        display: flex; }
        .container header .top_head .looser .navigation .singleitem {
          display: flex;
          align-items: center;
          padding-left: 5px;
          border-right: 2px solid #727272; }
          .container header .top_head .looser .navigation .singleitem:last-child {
            border: none; }
          .container header .top_head .looser .navigation .singleitem .icon {
            padding: 0 .5em;
            height: 30px; }
          .container header .top_head .looser .navigation .singleitem .linkntext {
            display: flex;
            flex-direction: column;
            padding-right: 10px; }
            .container header .top_head .looser .navigation .singleitem .linkntext a {
              color: #fbfbfb;
              font-size: 12px;
              text-decoration: none; }
            .container header .top_head .looser .navigation .singleitem .linkntext span {
              font-size: 10px;
              color: #a0a09e; }
            .container header .top_head .looser .navigation .singleitem .linkntext .selection {
              width: 130px;
              height: 20px;
              border: 1px solid #fff;
              background-color: #454545;
              color: #ffffff;
              padding-left: 15px; }
      .container header .top_head .looser nav {
        height: 70px;
        position: absolute;
        bottom: -40px;
        width: 1100px;
        background-color: #FFF; }
        .container header .top_head .looser nav ul {
          text-align: center;
          margin: 25px auto; }
          .container header .top_head .looser nav ul li {
            display: inline-block;
            padding: 0 15px;
            font-size: 16px;
            border-right: 1px solid #454545; }
            .container header .top_head .looser nav ul li:last-child {
              border: none; }
            .container header .top_head .looser nav ul li a {
              color: #454545;
              text-decoration: none; }
              .container header .top_head .looser nav ul li a:hover {
                color: #ebc854;
                border-bottom: 1px dashed #ebc854; }
              .container header .top_head .looser nav ul li a.active {
                color: #ebc854;
                border-bottom: 1px dashed #ebc854; }
  .container main {
    margin: 80px auto; }
    .container main .apply {
      height: 600px;
      width: 100%;
      background: url(img/bg.jpg) no-repeat;
      background-size: 100% 600px;
      display: flex; }
      .container main .apply .content {
        margin: auto;
        width: 1100px;
        height: 500px;
        background-color: #fff;
        opacity: .7; }
        .container main .apply .content h1 {
          font-size: 40px;
          text-align: center;
          padding-top: 60px;
          color: #454545;
          font-weight: 500; }
        .container main .apply .content h4 {
          font-size: 20px;
          padding-top: 20px;
          text-align: center;
          color: #454545;
          font-weight: 400; }
        .container main .apply .content .paragraph {
          max-width: 900px;
          margin: 40px auto;
          border: 3px double #454545;
          padding: 1em; }
          .container main .apply .content .paragraph p {
            padding-bottom: 1em; }
        .container main .apply .content .btn {
          text-decoration: none;
          padding: 1em;
          background-color: transparent;
          border: 1px solid #000;
          margin: 0 auto;
          width: 180px;
          display: block;
          text-align: center;
          color: #454545; }
    .container main .countrylist {
      height: 600px;
      width: 100%;
      display: flex; }
      .container main .countrylist .content {
        margin: auto;
        width: 1100px; }
        .container main .countrylist .content .title {
          font-size: 40px;
          text-align: center;
          padding: 30px;
          color: #454545;
          font-weight: 500;
          border: 1px dotted #454545; }
        .container main .countrylist .content .subtitle {
          font-size: 20px;
          padding: 30px 0;
          text-align: center;
          color: #454545;
          font-weight: 400; }
        .container main .countrylist .content table {
          width: 900px;
          margin: auto; }
          .container main .countrylist .content table tr {
            font-size: 12px;
            font-style: normal; }
            .container main .countrylist .content table tr th {
              text-align: center;
              border: 1px solid #D5D5D5;
              padding: 10px;
              font-weight: normal;
              background-color: #EAEAEA; }
            .container main .countrylist .content table tr td {
              text-align: center;
              border-top: 1px solid #D5D5D5;
              border-bottom: 1px solid #D5D5D5;
              padding: 10px;
              background-color: #fff; }
    .container main .info {
      background-color: #ebc854; }
      .container main .info .content {
        margin: auto;
        width: 1100px;
        display: flex;
        flex-direction: column; }
        .container main .info .content .information {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .container main .info .content .information img {
            width: 350px;
            height: 400px;
            margin-right: 100px;
            opacity: .7; }
          .container main .info .content .information .paragraph {
            margin: auto; }
            .container main .info .content .information .paragraph h1 {
              padding: 30px 0;
              text-align: center;
              border-top: 1px dotted #454545;
              border-bottom: 1px dotted #454545;
              color: #454545; }
            .container main .info .content .information .paragraph p {
              padding: 1em;
              color: #000000;
              font-size: 14px; }
            .container main .info .content .information .paragraph ol {
              margin-left: 2em;
              color: #000000;
              font-size: 14px; }
        .container main .info .content .button {
          display: flex;
          padding-bottom: 100px; }
          .container main .info .content .button .btn {
            text-decoration: none;
            padding: 1em;
            background-color: #454545;
            margin: auto;
            width: 280px;
            display: block;
            text-align: center;
            color: #FFF; }
    .container main .qasection .content {
      padding-top: 80px;
      margin: auto;
      width: 1100px; }
      .container main .qasection .content h1 {
        padding: 30px 0;
        text-align: center;
        border-top: 1px dotted #454545;
        border-bottom: 1px dotted #454545;
        color: #454545;
        font-weight: 400; }
      .container main .qasection .content .qa {
        padding-top: 100px; }
        .container main .qasection .content .qa table tr td {
          border-top: 1px dotted #454545;
          border-left: 1px dotted #454545;
          padding: 20px;
          text-align: justify;
          font-size: 12px; }
          .container main .qasection .content .qa table tr td.head {
            font-weight: 700;
            font-size: 16px;
            width: 100px;
            text-align: center; }
          .container main .qasection .content .qa table tr td:last-child {
            border-right: 1px dotted #454545; }
        .container main .qasection .content .qa table tr:nth-child(even) {
          background-color: #f1efe9; }
        .container main .qasection .content .qa table tr:last-child td {
          border-bottom: 1px dotted #454545; }
      .container main .qasection .content .button {
        display: flex;
        padding: 50px 0 100px 0; }
        .container main .qasection .content .button .btn {
          text-decoration: none;
          padding: 1em;
          background-color: #454545;
          margin: auto;
          width: 280px;
          display: block;
          text-align: center;
          color: #FFF; }
    .container main .contact {
      background: url(img/contact.jpg) no-repeat;
      background-size: 100% 600px; }
      .container main .contact .content {
        margin: auto;
        padding-top: 50px; }
        .container main .contact .content h1 {
          padding: 30px 0;
          text-align: center;
          border-top: 1px dotted #FFF;
          border-bottom: 1px dotted #FFF;
          color: #FFF;
          font-weight: 400;
          font-size: 36px; }
        .container main .contact .content .form {
          padding: 50px;
          display: flex;
          flex-direction: column; }
          .container main .contact .content .form .placeholder {
            margin: auto;
            padding: 1em;
            background-color: #000;
            opacity: .7;
            width: 700px;
            display: flex;
            flex-direction: column;
            align-content: stretch; }
            .container main .contact .content .form .placeholder .name {
              margin: auto;
              display: flex;
              flex-direction: row;
              align-content: stretch; }
              .container main .contact .content .form .placeholder .name input {
                width: 330px;
                margin: 2px;
                padding: .5em 1em; }
            .container main .contact .content .form .placeholder .passport {
              margin: auto;
              display: flex;
              flex-direction: row; }
              .container main .contact .content .form .placeholder .passport input {
                width: 330px;
                margin: 2px;
                padding: .5em 1em; }
            .container main .contact .content .form .placeholder .textarea {
              margin: 5px auto;
              display: flex; }
              .container main .contact .content .form .placeholder .textarea input {
                margin: 2px;
                padding: .5em 1em; }
          .container main .contact .content .form .button {
            display: flex;
            padding: 30px 0 100px 0; }
            .container main .contact .content .form .button .btn {
              text-decoration: none;
              padding: 1em;
              background-color: #FFF;
              margin: auto;
              width: 280px;
              display: block;
              text-align: center;
              color: #454545; }
    .container main .whysection .content {
      padding-top: 80px;
      margin: auto;
      width: 1100px; }
      .container main .whysection .content h1 {
        padding: 30px 0;
        text-align: center;
        border-top: 1px dotted #454545;
        border-bottom: 1px dotted #454545;
        color: #454545;
        font-weight: 400; }
      .container main .whysection .content .paragraph {
        padding: 1em; }
        .container main .whysection .content .paragraph p {
          font-size: 18px;
          line-height: 26px; }
      .container main .whysection .content .button {
        display: flex;
        padding: 50px 0 100px 0; }
        .container main .whysection .content .button .btn {
          text-decoration: none;
          padding: 1em;
          background-color: #454545;
          margin: auto;
          width: 280px;
          display: block;
          text-align: center;
          color: #FFF; }
    .container main .applyvisa {
      height: 150px;
      background-color: #ebc854;
      margin: 50px auto; }
      .container main .applyvisa .content {
        margin: auto;
        width: 1100px;
        display: flex;
        justify-content: space-around; }
        .container main .applyvisa .content .paragraph {
          margin: auto; }
        .container main .applyvisa .content .button {
          display: flex;
          padding: 50px 20px 50px 0; }
          .container main .applyvisa .content .button .btn {
            text-decoration: none;
            padding: 1em;
            background-color: #454545;
            margin: auto;
            width: 280px;
            display: block;
            text-align: center;
            color: #FFF; }
    .container main .note {
      padding: 0 0 50px 0; }
      .container main .note .paragraph {
        padding: 1em; }
        .container main .note .paragraph p {
          font-size: .8em;
          text-align: center; }
    .container main .find_visa {
      display: flex;
      flex-direction: column;
      height: 500px;
      width: 1100px;
      margin: auto; }
      .container main .find_visa h2 {
        font-size: 30px;
        text-align: left;
        padding: 10px 0;
        color: #454545;
        font-weight: 500;
        border-top: 1px dotted #454545;
        border-bottom: 1px dotted #454545; }
      .container main .find_visa h3 {
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
        color: #000000;
        font-weight: 400; }
      .container main .find_visa p {
        margin: 10px auto;
        font-size: 14px; }
      .container main .find_visa form {
        margin: 10px auto;
        width: 500px; }
        .container main .find_visa form .type {
          padding: .5em 1em;
          display: flex;
          justify-content: space-between;
          align-items: stretch; }
          .container main .find_visa form .type label {
            padding: .5em 1em; }
          .container main .find_visa form .type input {
            padding: .5em 1em;
            width: 200px; }
          .container main .find_visa form .type select {
            width: 200px; }
        .container main .find_visa form .button {
          margin: 30px auto; }
          .container main .find_visa form .button .btn {
            text-decoration: none;
            padding: 1em;
            background-color: #454545;
            margin: 0 auto;
            width: 180px;
            display: block;
            text-align: center;
            color: #FFF;
            border: 0;
            transition: all .5s ease-in-out;
            cursor: pointer;
            font-weight: bold; }
            .container main .find_visa form .button .btn:hover {
              border: 1px solid #000;
              background-color: #FFF;
              color: #454545; }
    .container main .faq {
      display: flex;
      flex-direction: column;
      max-width: 1100px;
      margin: auto; }
      .container main .faq h2 {
        font-size: 30px;
        text-align: left;
        padding: 10px 0;
        color: #454545;
        font-weight: 500;
        border-top: 1px dotted #454545;
        border-bottom: 1px dotted #454545; }
      .container main .faq .qasection {
        padding: 100px 0; }
        .container main .faq .qasection table tr td {
          border-top: 1px dotted #454545;
          border-left: 1px dotted #454545;
          padding: 20px;
          text-align: justify;
          font-size: 12px; }
          .container main .faq .qasection table tr td.head {
            font-weight: 700;
            font-size: 16px;
            width: 100px;
            text-align: center; }
          .container main .faq .qasection table tr td:last-child {
            border-right: 1px dotted #454545; }
        .container main .faq .qasection table tr:nth-child(even) {
          background-color: #f1efe9; }
        .container main .faq .qasection table tr:last-child td {
          border-bottom: 1px dotted #454545; }
    .container main .information {
      max-width: 1100px;
      margin: auto;
      display: flex;
      flex-direction: column; }
      .container main .information h2 {
        font-size: 30px;
        text-align: left;
        padding: 10px 0;
        color: #454545;
        font-weight: 500;
        border-top: 1px dotted #454545;
        border-bottom: 1px dotted #454545; }
      .container main .information .content {
        padding: 60px 0; }
        .container main .information .content .section {
          margin: 10px auto; }
          .container main .information .content .section .sectionhead {
            padding: 10px 20px;
            line-height: 30px;
            background-color: #454545; }
            .container main .information .content .section .sectionhead h3 {
              font-size: 16px;
              font-weight: 700;
              color: #FFF; }
          .container main .information .content .section .sectionbody {
            margin: 5px auto 50px auto;
            padding: 20px 30px;
            border: 1px dotted #454545;
            text-align: justify;
            font-size: 14px;
            zoom: 1; }
            .container main .information .content .section .sectionbody ul li {
              line-height: 22px;
              list-style-type: none;
              padding: .3em 0;
              margin-left: 25px; }
              .container main .information .content .section .sectionbody ul li:before {
                content: "- ";
                margin-left: -15px; }
            .container main .information .content .section .sectionbody table {
              width: 1040px;
              margin: 10px auto; }
              .container main .information .content .section .sectionbody table tr {
                font-size: 12px;
                font-style: normal; }
                .container main .information .content .section .sectionbody table tr th {
                  text-align: center;
                  border: 1px solid #D5D5D5;
                  padding: 10px;
                  font-weight: normal;
                  background-color: #EAEAEA; }
                .container main .information .content .section .sectionbody table tr td {
                  text-align: center;
                  border-top: 1px solid #D5D5D5;
                  border-bottom: 1px solid #D5D5D5;
                  padding: 10px;
                  background-color: #fff; }
            .container main .information .content .section .sectionbody .example {
              display: flex; }
              .container main .information .content .section .sectionbody .example .paragraph {
                padding: 0 1em; }
                .container main .information .content .section .sectionbody .example .paragraph p:last-child {
                  margin: 10px auto; }
    .container main .application {
      max-width: 1100px;
      margin: auto;
      display: flex;
      flex-direction: column; }
      .container main .application h2 {
        font-size: 30px;
        text-align: left;
        padding: 10px 0;
        color: #454545;
        font-weight: 500;
        border-top: 1px dotted #454545;
        border-bottom: 1px dotted #454545; }
      .container main .application .content {
        padding: 20px 0; }
        .container main .application .content .steps {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-around; }
          .container main .application .content .steps .step {
            background-color: #fcfcfc;
            width: 250px; }
            .container main .application .content .steps .step .top {
              border-top: 2px solid #ebc854;
              border-left: 20px solid #ebc854;
              height: 10px;
              width: 150px;
              padding-bottom: 10px; }
            .container main .application .content .steps .step .name {
              font-size: 12px;
              padding: .5em 1em;
              text-align: left;
              color: #1c1c1c; }
            .container main .application .content .steps .step .stepname {
              padding: .5em 1em;
              font-size: 18px;
              text-align: left;
              color: #1c1c1c; }
            .container main .application .content .steps .step .bottom {
              border-bottom: 2px solid #ebc854;
              border-right: 2px solid #ebc854;
              height: 15px;
              padding-top: 10px;
              width: 130px;
              float: right; }
          .container main .application .content .steps .step:nth-child(2) .top {
            border-top: 2px solid #454545;
            border-left: 20px solid #454545; }
          .container main .application .content .steps .step:nth-child(2) .bottom {
            border-bottom: 2px solid #454545;
            border-right: 2px solid #454545; }
          .container main .application .content .steps .step:nth-child(3) .top {
            border-top: 2px solid #454545;
            border-left: 20px solid #454545; }
          .container main .application .content .steps .step:nth-child(3) .bottom {
            border-bottom: 2px solid #454545;
            border-right: 2px solid #454545; }
        .container main .application .content .note {
          font-weight: 700;
          font-size: 14px; }
        .container main .application .content .section {
          margin: 10px auto;
          display: flex;
          flex-direction: column; }
          .container main .application .content .section .content {
            max-height: 200px;
            overflow-y: auto;
            border: 1px dotted #454545;
            padding: 1em;
            font-size: 12px;
            line-height: 18px; }
            .container main .application .content .section .content strong {
              padding: 10px 0; }
          .container main .application .content .section .agree {
            zoom: 1;
            padding: 10px 20px;
            width: 100%;
            line-height: 30px;
            font-size: 14px;
            background-color: #454545;
            color: #FFF;
            display: flex;
            justify-content: space-between; }
        .container main .application .content .button {
          display: flex;
          padding: 50px 20px 50px 0; }
          .container main .application .content .button .btn {
            cursor: pointer;
            text-decoration: none;
            padding: 1em;
            background-color: #454545;
            margin: auto;
            width: 280px;
            display: block;
            text-align: center;
            color: #FFF;
            border: none; }
  .container footer {
    background-color: #454545; }
    .container footer nav {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      height: 100px;
      max-width: 1100px;
      margin: 0 auto; }
      .container footer nav p {
        color: #a0a09e;
        font-size: 14px; }
      .container footer nav ul li {
        display: inline-block;
        padding: 0 10px;
        font-size: 16px; }
        .container footer nav ul li a {
          color: #a0a09e;
          text-decoration: none; }
          .container footer nav ul li a:hover {
            color: #ebc854;
            border-bottom: 1px dashed #ebc854; }
    .container footer .content {
      max-width: 1100px;
      margin: auto;
      padding: 1em;
      font-size: .8em; }
      .container footer .content p {
        color: #a0a09e; }
    .container footer .slim_footer {
      background: #2e2e2e;
      color: #a0a09e;
      height: 35px;
      font-size: .8em;
      display: flex;
      justify-content: center;
      align-items: center; }
