// Color variables
$darkest: #2e2e2e;
$darker: #454545;
$dark: #000000;

$lightest: #FFF;
$lighter: #fcfcfc;
$light: #FFF;

$yellow: #ebc854;
$bgcolor: #e9e5dc;

// Other Variables
$darkest_font: #000;
$darker_font: #a0a09e;
$dark_font: #fbfbfb;

$darkerbg : #f1efe9;
$border : #727272;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (max-width:700px) {
    .top_head{
        .looser{
            justify-content: center;
            .logo{
                width: 90%;
                margin: 0 auto;
            }
            .navigation{
                display: none !important;
            }
        }
    }
}

body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: $bgcolor;
}
.container{
    margin: 0 auto;
    width: 100%;
    header{
        .slim_head{
            background: $darkest;
            .looser{
                height: 35px;
                max-width: 1100px;
                margin: 0 auto;
                color: $darker_font;
                font-size: .8em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p>.language{
                    color: $yellow;
                }
            }
        }
        .top_head{
            background: $darker;
            border-bottom: 1px dashed $light;
            .looser{
                height: 145px;
                max-width: 1100px;
                margin: 0 auto;
                position: relative;                
                color: $dark_font;
                font-size: .8em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo{
                    margin-left: 1em;
                    img{
                        padding: 1em .5em;
                        border: 1px dashed $border;
                        width:100%;
                        min-width: 280px;
                        height: auto;
                    }
                }
                .navigation{
                    display: flex;
                    .singleitem{
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        border-right: 2px solid $border;
                        &:last-child{
                            border: none;
                        }
                        .icon{
                            padding: 0 .5em;
                            height: 30px;
                        }
                        .linkntext{
                            display: flex;
                            flex-direction: column;
                            padding-right: 10px;
                            a{
                                color: $dark_font;
                                font-size: 12px;
                                text-decoration: none;
                            }
                            span{
                                font-size: 10px;
                                color: $darker_font;
                            }
                            .selection{
                                width: 130px;
                                height: 20px;
                                border: 1px solid #fff;
                                background-color: $darker;
                                color: #ffffff;
                                padding-left: 15px;
                            }
                        }
                    }
                }
                nav{
                    min-height: 70px;
                    position: absolute;
                    top: 120px;
                    max-width: 1100px;
                    width: 100%;
                    background-color: $light; 
                    ul{
                        text-align: center;
                        margin: 25px auto;
                        li{
                            display: inline-block;
                            padding: 0 15px;
                            font-size: 16px;
                            border-right: 1px solid $darker;
                            &:last-child{
                                border: none;
                            }
                            a{
                                color: $darker;
                                text-decoration: none;
                                &:hover{
                                    color: $yellow;
                                    border-bottom: 1px dashed $yellow;
                                }
                                &.active{
                                    color: $yellow;
                                    border-bottom: 1px dashed $yellow;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        margin: 80px auto;
        .apply{
            height: 600px;
            width: 100%;
            background: url(img/bg.jpg) no-repeat;
            background-size: 100% 600px;
            display: flex;
            .content{
                margin: auto;
                width: 1100px;
                height: 500px;
                background-color: #fff;
                opacity: .7;
                h1{
                    font-size: 40px;
                    text-align: center;
                    padding-top: 60px;
                    color: $darker;
                    font-weight: 500;
                }
                h4{
                    font-size: 20px;
                    padding-top: 20px;
                    text-align: center;
                    color: $darker;
                    font-weight: 400;
                }
                .paragraph{
                    max-width: 900px;
                    margin: 40px auto;
                    border: 3px double $darker;
                    padding: 1em;
                    p{
                        padding-bottom: 1em; 
                    }
                }
                .btn{
                    text-decoration: none;
                    padding: 1em;
                    background-color: transparent;
                    border: 1px solid #000;
                    margin: 0 auto;
                    width: 180px;
                    display: block;
                    text-align: center;
                    color: $darker;
                }
            }
        }
        .countrylist{
            height: 600px;
            width: 100%;
            display: flex;
            .content{
                margin: auto;
                width: 1100px;
                .title{
                    font-size: 40px;
                    text-align: center;
                    padding: 30px;
                    color: $darker;
                    font-weight: 500;
                    border: 1px dotted $darker;
                }
                .subtitle{
                    font-size: 20px;
                    padding: 30px 0;
                    text-align: center;
                    color: $darker;
                    font-weight: 400;
                }
                table{
                    width: 900px;
                    margin: auto;
                    tr{
                        font-size: 12px;
                        font-style: normal;
                        th{
                            text-align: center;
                            border: 1px solid #D5D5D5;
                            padding: 10px;
                            font-weight: normal;
                            background-color: #EAEAEA;
                        }
                        td{
                            text-align: center;
                            border-top: 1px solid #D5D5D5;
                            border-bottom: 1px solid #D5D5D5;
                            padding: 10px;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
        .info{
            background-color: $yellow;
            .content{
                margin: auto;
                width: 1100px;
                display: flex;
                flex-direction: column;
                .information{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    img{
                        width: 350px;
                        height: 400px;
                        margin-right: 100px;
                        opacity: .7;
                    }
                    .paragraph{
                        margin: auto;
                        h1{
                            padding: 30px 0;
                            text-align: center;
                            border-top: 1px dotted $darker;
                            border-bottom: 1px dotted $darker;
                            color: $darker;
                        }
                        p{
                            padding: 1em;
                            color: $dark;
                            font-size: 14px;
                        }
                        ol{
                            margin-left: 2em;
                            color: $dark;
                            font-size: 14px;                                
                        }
                    }

                }
                .button{
                    display: flex;
                    padding-bottom: 100px;
                    .btn{
                        text-decoration: none;
                        padding: 1em;
                        background-color: $darker;
                        margin: auto;
                        width: 280px;
                        display: block;
                        text-align: center;
                        color: $light;
                    }
                }
            }
        }
        .qasection{
            .content{
                padding-top: 80px;
                margin: auto;
                width: 1100px;
                h1{
                    padding: 30px 0;
                    text-align: center;
                    border-top: 1px dotted $darker;
                    border-bottom: 1px dotted $darker;
                    color: $darker;
                    font-weight: 400;
                }
                .qa{
                    padding-top: 100px;
                    table{
                        tr{
                            td{
                                border-top: 1px dotted $darker;
                                border-left: 1px dotted $darker;
                                padding: 20px;
                                text-align: justify;
                                font-size: 12px;
                                &.head{
                                    font-weight: 700;
                                    font-size: 16px;
                                    width: 100px;
                                    text-align: center;
                                }
                                &:last-child{
                                    border-right: 1px dotted $darker;
                                }
                            }
                            &:nth-child(even){
                                background-color: $darkerbg;
                            }
                            &:last-child{
                                td{
                                    border-bottom: 1px dotted $darker;
                                }
                            }
                        }
                    }
                }
                .button{
                    display: flex;
                    padding: 50px 0 100px 0;
                    .btn{
                        text-decoration: none;
                        padding: 1em;
                        background-color: $darker;
                        margin: auto;
                        width: 280px;
                        display: block;
                        text-align: center;
                        color: $light;
                    }
                }
            }
        }
        .contact{
            background: url(img/contact.jpg) no-repeat;
            background-size: 100% 600px;
            .content{
                margin: auto;
                padding-top: 50px;
                h1{
                    padding: 30px 0;
                    text-align: center;
                    border-top: 1px dotted $light;
                    border-bottom: 1px dotted $light;
                    color: $light;
                    font-weight: 400;
                    font-size: 36px;
                }
                .form{
                    padding: 50px;
                    display: flex;
                    flex-direction: column;
                    .placeholder{
                        margin: auto;
                        padding: 1em;
                        background-color: #000;
                        opacity: .7;
                        width: 700px;
                        display: flex;
                        flex-direction: column;
                        align-content: stretch;
                        .name{
                            margin: auto;
                            display: flex;
                            flex-direction: row;
                            align-content: stretch;
                            input{
                                width: 330px;
                                margin: 2px;
                                padding: .5em 1em;
                            }
                        }
                        .passport{
                            margin: auto;                                
                            display: flex;
                            flex-direction: row;
                            input{
                                width: 330px;
                                margin: 2px;
                                padding: .5em 1em;
                            }
                        }
                        .textarea{
                            margin: 5px auto;                                
                            display: flex;
                            input{
                                margin: 2px;
                                padding: .5em 1em;
                            }
                        }
                    }

                    .button{
                        display: flex;
                        padding: 30px 0 100px 0;
                        .btn{
                            text-decoration: none;
                            padding: 1em;
                            background-color: $light;
                            margin: auto;
                            width: 280px;
                            display: block;
                            text-align: center;
                            color: $darker;
                        }
                    }
                }
            }
        }
        .whysection{
            .content{
                padding-top: 80px;
                margin: auto;
                width: 1100px;
                h1{
                    padding: 30px 0;
                    text-align: center;
                    border-top: 1px dotted $darker;
                    border-bottom: 1px dotted $darker;
                    color: $darker;
                    font-weight: 400;
                }
                .paragraph{
                    padding: 1em;
                    p{
                        font-size: 18px;
                        line-height: 26px;
                    }

                }
                .button{
                    display: flex;
                    padding: 50px 0 100px 0;
                    .btn{
                        text-decoration: none;
                        padding: 1em;
                        background-color: $darker;
                        margin: auto;
                        width: 280px;
                        display: block;
                        text-align: center;
                        color: $light;
                    }
                }
            }
        }
        .applyvisa{
            height: 150px;
            background-color: $yellow;
            margin: 50px auto;
            .content{
                margin: auto;
                width: 1100px;
                display: flex;
                justify-content: space-around;
                .paragraph {
                    margin: auto;
                }
                .button{
                    display: flex;
                    padding: 50px 20px 50px 0;
                    .btn{
                        text-decoration: none;
                        padding: 1em;
                        background-color: $darker;
                        margin: auto;
                        width: 280px;
                        display: block;
                        text-align: center;
                        color: $light;
                    }
                }
            }
        }
        .notes{
            padding: 0 0 50px 0;
            .paragraph{
                padding: 1em;
                p{
                    font-size: .8em;
                    text-align: center;
                }
            }
        }
        // Find visa application status page
        .find_visa{
            display: flex;
            flex-direction: column;
            height: 500px;
            width: 1100px;
            margin: auto;
            h2{
                font-size: 30px;
                text-align: left;
                padding: 10px 0;
                color: $darker;
                font-weight: 500;
                border-top: 1px dotted $darker;
                border-bottom: 1px dotted $darker;
            }
            h3{
                font-size: 30px;
                text-align: center;
                padding-top: 20px;
                color: $dark;
                font-weight: 400;
            }
            p{
                margin: 10px auto;
                font-size: 14px;
            }
            form{
                margin: 10px auto;
                width: 500px;
                .type{
                    padding: .5em 1em;
                    display: flex;
                    justify-content: space-between;
                    align-items: stretch;
                    label{
                        padding: .5em 1em;;
                    }
                    input{
                        padding: .5em 1em;
                        width: 280px;
                    }
                    select{
                        width:280px;
                    }
                }
                .button{
                    margin: 30px auto;
                    .btn{
                        text-decoration: none;
                        padding: 1em;
                        background-color: $darker;
                        margin: 0 auto;
                        width: 180px;
                        display: block;
                        text-align: center;
                        color: $light;
                        border:0;
                        transition: all .5s ease-in-out;
                        cursor: pointer;
                        font-weight: bold;
                        &:hover{
                            border: 1px solid #000;
                            background-color: $light;
                            color: $darker;                            
                        }
                    }
                }
            }
        }
        // FAQ page
        .faq{
            display: flex;
            flex-direction: column;
            max-width: 1100px;
            margin: auto;
            h2{
                font-size: 30px;
                text-align: left;
                padding: 10px 0;
                color: $darker;
                font-weight: 500;
                border-top: 1px dotted $darker;
                border-bottom: 1px dotted $darker;
            }
            .qasection{
                padding: 100px 0;
                table{
                    tr{
                        td{
                            border-top: 1px dotted $darker;
                            border-left: 1px dotted $darker;
                            padding: 20px;
                            text-align: justify;
                            font-size: 12px;
                            &.head{
                                font-weight: 700;
                                font-size: 16px;
                                width: 100px;
                                text-align: center;
                            }
                            &:last-child{
                                border-right: 1px dotted $darker;
                            }
                        }
                        &:nth-child(even){
                            background-color: $darkerbg;
                        }
                        &:last-child{
                            td{
                                border-bottom: 1px dotted $darker;
                            }
                        }
                    }
                }
            }
        }
        // Info Page
        .information{
            max-width: 1100px;
            margin: auto;
            display: flex;
            flex-direction: column;
            h2{
                font-size: 30px;
                text-align: left;
                padding: 10px 0;
                color: $darker;
                font-weight: 500;
                border-top: 1px dotted $darker;
                border-bottom: 1px dotted $darker;
            }
            .content{
                padding: 60px 0;
                .section{
                    margin: 10px auto;
                    .sectionhead{
                        padding: 10px 20px;
                        line-height: 30px;
                        background-color: $darker;
                        h3{
                            font-size: 16px;
                            font-weight: 700;
                            color: $light;
                        }
                    }
                    .sectionbody{
                        margin: 5px auto 50px auto;
                        padding: 20px 30px;
                        border: 1px dotted #454545;
                        text-align: justify;
                        font-size: 14px;
                        zoom: 1;
                        ul{
                            li{
                                line-height: 22px;
                                list-style-type: none;
                                padding: .3em 0;
                                margin-left: 25px;
                                &:before{
                                    content: "- ";
                                    margin-left: -15px;
                                }
                            }
                        }
                        table{
                            width: 1040px;
                            margin: 10px auto;
                            tr{
                                font-size: 12px;
                                font-style: normal;
                                th{
                                    text-align: center;
                                    border: 1px solid #D5D5D5;
                                    padding: 10px;
                                    font-weight: normal;
                                    background-color: #EAEAEA;
                                }
                                td{
                                    text-align: center;
                                    border-top: 1px solid #D5D5D5;
                                    border-bottom: 1px solid #D5D5D5;
                                    padding: 10px;
                                    background-color: #fff;
                                }
                            }
                        }
                        .example{
                            display: flex;
                            .paragraph{
                                padding: 0 1em;
                                p:last-child{
                                    margin: 10px auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        // Visa Apply page
        .application{
            max-width: 1100px;
            margin: auto;
            display: flex;
            flex-direction: column;
            h2{
                font-size: 30px;
                text-align: left;
                padding: 10px 0;
                color: $darker;
                font-weight: 500;
                border-top: 1px dotted $darker;
                border-bottom: 1px dotted $darker;
            }
            .content{
                padding: 20px 0;
                .steps{
                    margin-bottom: 20px; 
                    display: flex;
                    justify-content: space-around;
                    .step{
                        background-color: $darkerbg;
                        width: 25%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .top{
                            border-top: 2px solid $darker;
                            border-left: 20px solid $darker;
                            height: 10px;
                            width: 70%;
                            padding-bottom: 1em;
                            align-self: flex-start;
                        }
                        .name{
                            font-size: 12px;
                            padding: .5em 1em;
                            text-align: left;
                            color: #1c1c1c;
                        }
                        .stepname{
                            padding: .5em 1em;
                            font-size: 18px;
                            text-align: left;
                            color: #1c1c1c;
                        }
                        .bottom{
                            border-bottom: 2px solid $darker;
                            border-right: 2px solid $darker;
                            height: 15px;
                            padding-top:10px;
                            width: 60%;
                            align-self: flex-end;
                        }
                    }
                    .step.active{
                        .top{
                            border-top: 2px solid $yellow;
                            border-left: 20px solid $yellow;
                        }
                        .bottom{
                            border-bottom: 2px solid $yellow;
                            border-right: 2px solid $yellow;
                        }
                    }
                    .step.activated{
                        .top{
                            border-top: 2px solid $dark;
                            border-left: 20px solid $dark;
                        }
                        .bottom{
                            border-bottom: 2px solid $dark;
                            border-right: 2px solid $dark;
                        }
                    }
                }

                fieldset { 
                    display: none; 
                    text-align: left;
                    border: none;
                    .input-error { 
                        border-color: red; 
                    }
                    iframe{
                        width: 100%;
                        height: 200px;
                        overflow-y: scroll;
                        border: 1px solid #ccc;
                    }
                    .btn-previous{
                        background-color: lightgrey;
                    }
                    .btn-next{
                        background-color: green;
                        color: white;
                    }
                    .note{
                        font-weight: 700;
                        font-size: 14px;
                        margin: 20px 0;
                        .alert{
                            color: red;
                        }
                    }
                }

                .section{
                    margin: 10px auto;
                    display: flex;
                    flex-direction: column;
                    .content{
                        border: 1px dotted $darker;
                        padding: 1em;
                        font-size: 12px;
                        line-height: 18px;
                        .fg{
                            font-size: 14px;;
                            padding: 0.5em 0;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            text-align: left;
                            label, p{
                                width: 40%;
                                font-weight: 600;
                                font-size: 14px;
                                i{
                                    font-weight: 100;
                                    font-size: .9em;
                                }
                            }
                            span{
                                width: 100%;
                                input{
                                    width: auto;
                                    &[type="tel"]{
                                        width: 100%;
                                    }
                                    &.input-error { 
                                        border-color: red; 
                                    }
                                }
                            }
                            input,select{
                                padding: .6em 1em;
                                width: 100%;
                                border: 1px solid $dark;
                                background: $darkerbg;
                                &.input-error { 
                                    border-color: red; 
                                }
                            }
                        }
                    }
                    .agree{
                        zoom: 1;
                        padding: 10px 20px;
                        width: 100%;
                        background-color: #454545;
                        display: flex;
                        justify-content: space-between;
                        color: $light;
                        line-height: 30px;
                        font-size: 14px;
                    }
                }
                .button{
                    display: flex;
                    padding: 50px 20px 50px 0;
                    .btn{
                        cursor: pointer;
                        text-decoration: none;
                        padding: 1em;
                        background-color: $darker;
                        margin: auto;
                        width: 280px;
                        display: block;
                        text-align: center;
                        color: $light;
                        border: none;
                    }
                }
            }
        }
    }
    footer{
        background-color: $darker;
        nav{
            padding: 1em;
            display: flex;
            justify-content: space-between;
            height: 100px;
            max-width: 1100px;
            margin: 0 auto;
            p{
                color: $darker_font;
                font-size: 14px;
            }
            ul{
                li{
                    display: inline-block;
                    padding: 0 10px;
                    font-size: 16px;
                    a{
                        color: $darker_font;
                        text-decoration: none;
                        &:hover{
                            color: $yellow;
                            border-bottom: 1px dashed $yellow;
                        }
                    }
                }
            }
        }
        .content{
            max-width: 1100px;
            margin: auto;
            padding: 1em;
            font-size: .8em;                
            p{
                color: $darker_font;
            }
        }
        .slim_footer{
            background: $darkest;
            color: $darker_font;
            height: 35px;
            font-size: .8em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}